<ul class="navbar-nav align-items-center  ml-auto ml-md-0 ml-md-auto">
    <li class="nav-item dropdown">
        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder"
                       src="/static/bootstrapThemes/assets/img/theme/team-4.jpg">
                </span>
<!--                <div class="media-body  ml-2  d-none d-lg-block">-->
                <div class="media-body  ml-2 >
                    <span class="mb-0 text-sm  font-weight-bold">
                        {% if account.role == 'general_role' %}
                            <i class="fa fa-user" aria-hidden="true"></i>
                        {% elif account.role == 'app-normal_role' %}
                            <i class="fa fa-user" aria-hidden="true"></i>
                        {% elif account.role == 'app-manager_role' %}
                           <i class="fa fa-users" aria-hidden="true"></i>
                        {% endif %}
                        {{ account.ac_name }}
                    </span>
                </div>
            </div>
        </a>
        <div class="dropdown-menu  dropdown-menu-right ">
            <div class="dropdown-header noti-title">
                <h6 class="text-overflow m-0">Welcome!</h6>
            </div>
            <div>
                <a href="{% url "Accounts:edit" %}" class="dropdown-item">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    <span>修改帳號資訊</span>
                </a>
<!--                 <a class="dropdown-item" href="{% url "Client:app" %}" >-->
<!--                    <i class="fa fa-file" aria-hidden="true"></i>-->
<!--                     <span>方案與訂單</span>-->
<!--                </a>-->
            </div>
            <div class="dropdown-divider"></div>
            <a href="{% url "Accounts:logout" %}" class="dropdown-item">
                <i class="ni ni-user-run"></i>
                <span>登出</span>
            </a>
        </div>
    </li>
</ul>