{% extends "layouts/base-dashboard.html" %}
{% block nav_items %}
    {% include "layouts/base-dashboard_left.html" %}
{% endblock %}

{% block path_bar %}
    <!-- 導航列 -->
    <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
            <h6 class="h1 text-white d-inline-block mb-0">方案與訂單</h6>
             <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="{% url "app:dashboard" %}"><i class="fas fa-home"></i></a></li>

                    <li class="breadcrumb-item"><a href="{% url "Client:order" %}">訂單管理</a></li>
                    <li class="breadcrumb-item active" aria-current="page">訂單編號-{{ order.order_no }}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block page_card %}

    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <!-- Card header -->
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">方案狀態</h3>
                        </div>
                     </div>
                </div>

                <!-- Card body -->
                <div class="card-body">
                    <!-- Form groups used in grid -->
                    <table class="table table-hover">
                        <tbody>
                         {% if order.status == 5 %}
                            <tr class="p-3 mb-2 bg-danger text-white text-center">
                                <td colspan="2" >
                                    訂單已被取消。
                                </td>
                            </tr>
                        {% endif %}
                          <tr>
                            <td style="text-align:right">訂單建立時間</td>
                            <td style="text-align:left">
                                {% if order.order_time%}
                                    {{order.order_time | date:"Y年m月d日 h點i分 "}}<i class="fa fa-check-circle" aria-hidden="true"></i>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                          </tr>
                          <tr>
                            <td style="text-align:right">送出匯款資訊時間</td>
                            <td style="text-align:left">
                                {% if order.client_submit_time %}
                                    {{order.client_submit_time | date:"Y年m月d日 h點i分 "}}<i class="fa fa-check-circle" aria-hidden="true"></i>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                          </tr>
                          <tr>
                            <td style="text-align:right">確認已匯款時間</td>
                            <td style="text-align:left">
                                {% if order.pay_time %}
                                    {{order.pay_time | date:"Y年m月d日 h點i分 "}}<i class="fa fa-check-circle" aria-hidden="true"></i>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                          </tr>
                          <tr>
                            <td style="text-align:right">開通服務時間</td>
                            <td style="text-align:left">
                                {% if order.sucess_time %}
                                    {{order.sucess_time | date:"Y年m月d日 h點i分 "}}<i class="fa fa-check-circle" aria-hidden="true"></i>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                          </tr>
                          <tr>
                            <td style="text-align:right">完成訂單時間</td>
                            <td style="text-align:left ;color:green">
                                {% if order.sucess_time %}
                                    {{order.sucess_time | date:"Y年m月d日 h點i分 "}}<i class="fa fa-check-circle" aria-hidden="true"></i>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                          </tr>
                        </tbody>
                  </table>
                </div>
            </div>
            <div class="card mb-4">
                <!-- Card header -->
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">匯款資訊</h3>
                        </div>
                        {% if order.status != 1 and  order.status != 2 and order.status != 3 and order.client_submit_time == None %}
                        <div class="col text-right">
                             <button type="button" class="btn btn-default" data-toggle="modal"
                                  data-target="#ModalEdit" id="open_edit">
                                  <span class="btn-inner--text">送出匯款資訊</span>
                             </button>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!-- Card body -->
                {% if order.client_submit_time == None %}
                    <form method="post" onkeydown="if(event.keyCode==13)return false;" id="submitPaymentForm">
                        {% csrf_token %}
                        <div class="card-body">

                            <!-- Form groups used in grid -->
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" >{{form.name.label}}</label>
                                        {{form.name}}
                                        <div style="color:red">{{form.name.errors}}</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" >{{form.bankaccount.label}}</label>
                                        <span style="display: none" id="account_name_span"></span>
                                        {{form.bankaccount}}
                                        <div style="color:red">{{form.bankaccount.errors}}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="inputAccount">下訂帳號:</label>
                                        <input type="text" class="form-control" id="inputAccount" value="{{ order.ac_id }}"
                                               required disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" >{{form.phone_number.label}}</label>
                                        {{form.phone_number}}
                                        <div style="color:red">{{form.phone_number.errors}}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="margin-top: 5px;" >
                                <input type="checkbox" id="loadHistory" name="noted"><span class="form-control-label"> 載入已儲存之匯款資訊</span>
                            </div>
                            <div >
                                <input type="checkbox" name="saveInfo" ><span class="form-control-label"> 記住我的匯款資訊</span>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="inputName">匯款人姓名:</label>
                                    <input type="text" class="form-control" id="inputName"  value="{{ order.name }}" disabled>
                                </div>
                            </div>
                             <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="inputAppId">帳戶號碼(後五碼):</label>
                                    <input type="text" class="form-control" id="inputAppId" value="{{order.bankaccount}}" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="inputId">帳號</label>
                                    <input type="text" class="form-control" id="inputId" value="{{order.ac_id}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="inputCulture">手機號碼</label>
                                    <input type="text" class="form-control" id="inputCulture" value="+886 {{ order.phone_number }}" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">確認訂單資訊</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <input type="hidden" name="edit" value="statusConfirmCancel">
                    <div class="modal-body">
                        <div class="mat-dialog-content">

                            <div class="form-row">
                               <span class="form-control-label"><input type="checkbox" name="checked" id="check"> 是否確定匯款資訊無誤並已完成匯款? 一旦送出資料無法更改。</span>
                            </div>

                        </div>
                         {% if StatusMessage %}
                                    <div>
                                        <span class="form-control-label text-danger">
                                            {{StatusMessage}}
                                        </span>
                                    </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer" id="creat_Done_btn_div">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary" id="creat_Done_btn">確認</button>
                    </div>
            </div>
        </div>
    </div>
    <script>

        const submitBtn=document.getElementById('creat_Done_btn');
        const submitPaymentForm=document.getElementById('submitPaymentForm');
        const check=document.getElementById('check');
        const checkWarming=document.getElementById('checkWarming');
        const inputName=document.getElementById('InputName');
        const inputBankAccount=document.getElementById('InputBankAccount');
        const inputPhoneNumber=document.getElementById('InputPhoneNumber');
        const loadHistoryBtn=document.getElementById('loadHistory');

        //base setting
        submitBtn.disabled=true;

        //Listning items
        loadHistoryBtn.addEventListener('click',function(){
            if(loadHistoryBtn.checked)
            {
                data_bankAccount="{{inputHistory.bank_account}}";
                data_phoneNumber="{{inputHistory.phone_number}}";
                data_name="{{inputHistory.transfer_name}}";

                console.log(data_bankAccount);
                inputBankAccount.value=data_bankAccount;
                inputPhoneNumber.value=data_phoneNumber;
                inputName.value=data_name;
            }
            else
            {
                inputBankAccount.value="";
                inputPhoneNumber.value="";
                inputName.value="";
            }
        });

        check.addEventListener('click',function () {
            if(check.checked)
            {
                submitBtn.disabled=false;
            }
            else
            {
                submitBtn.disabled=true;
            }
        });

        submitBtn.addEventListener('click' ,function(){
            if(check.checked)
            {
             submitPaymentForm.submit();
            }
            else
            {
              checkWarming.hidden=false;
            }
        });


    </script>

{% endblock %}

