{% extends "layouts/base-dashboard.html" %}

{% block title %}{{title}}{% endblock %}

{% block main_title %}{{title}}{% endblock %}

{% block nav_items %}
    {% include "layouts/base-dashboard_left.html" %}
{% endblock %}

{% block path_bar %}
    <!-- 導航列 -->
    <div class="row align-items-center py-4">
        <div class="col-lg-12 col-12">
            <h6 class="h1 text-white d-inline-block mb-0">[{{ app_entity_name }}]-訓練語句</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="{% url "app:dashboard" %}"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a>{{ app_name }}</a></li>
                    <li class="breadcrumb-item"><a>建置</a></li>
                    <li class="breadcrumb-item"><a href="{% url "app:entity" %}?{{ url }}">Entity(實體)</a></li>
                    <li class="breadcrumb-item active" aria-current="page">({{ app_entity_name }}) 訓練語句</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}


{% block small_card %}
    <!-- Card stats -->
    <div class="row">
        <!-- Card 1 start-->
        <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">語句數量：</h5>
                            <span class="h2 font-weight-bold mb-0">{{ labeled_examples_count }}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-indigo text-white rounded-circle shadow">
                                <i class="ni ni-chat-round"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card 1 end-->
    </div>
{% endblock %}


{% block page_card %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">訓練語句列表</h3>
                        </div>

                    </div>
                </div>
                <div class="">
                    <!-- Projects table -->
                    <table class="table table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">語句</th>
                        </tr>
                        </thead>
                        <tbody class="list" id="utterance_tbody">
                        {% if labeled_examples_count == 0 %}
                            <tr>
                                <th scope="row">
                                    <span class="text-primary">No items created</span>
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        {% endif %}
                        {% for example in labeled_examples %}
                            <tr class="utterance-tr">
                                <th scope="row">
                                    <span>{{ forloop.counter }}. </span>
                                    {% for text_item in example.utterance %}
                                        {% if text_item.category is not None %}
                                            <span style="font-size: 1.3rem !important; margin-right: 0px; cursor: default; background-color: lightblue;"
                                                  data-toggle="tooltip" data-placement="top"
                                                  title="{{  text_item.category }}">{{ text_item.part_text }}</span>
                                        {% else %}
                                            <span style="font-size: 1.3rem !important;">{{ text_item.part_text }}</span>
                                        {% endif %}
                                    {% endfor %}
                                </th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block modal_card %}
{% endblock %}


{% block jquery %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
{% endblock %}