.table th {
    font-size: 1rem !important;
}

.table th a {
    font-size: 1.3rem !important;
}

.table td span {
    font-size: 1rem !important;
}


h3 {
    font-size: 1.4rem !important;
}

.sidenav-normal,
.nav-link-text {
    font-size: 1.2rem
}

.modal-title {
    font-size: 1.2rem !important;
}

.alert_style {
    position: absolute;
    width: 150px;
    z-index: 99;
}
